<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red;">{{ message }}<p/>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="/login">
        {{ form.csrf_token }}<br/>
        {{ form.username.label }}: {{ form.username(size=20) }}<br/>
        {{ form.password.label }}: {{ form.password(size=20) }}<br/><br/>
        <input type="submit" value="Submit">
    </form>
</body>
</html>